<% alertSuccess = (messages, time) => {
    let xhtml;
    if (messages.success) { 
      xhtml =`<div class="alert alert-success" show-alert data-time=${messages.time}>
        ${messages.success}
        <span class="close-alert">x</span>
      </div>`
    }
    return xhtml
}
%>