.product-image img {
    display: block;
    height: 150px;
    width: 1000px;
    object-fit: contain;
}

.product-image-cart img {
  display: block;
  height: 67px;
  width: 80px;
  object-fit: contain;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .logo img {
    display: block;
    max-width: 100%;
    height: 100px
  }

  .partner img {
    display: block;
    max-width: 100%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
  }

  .product-image-checkout img {
    display: block;
    height: 67px;
    width: 80px;
    object-fit: contain;
}


.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #333;
}

.order-summary {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.personal-info td {
  border: none;
}

.product-image-success img {
  display: block;
    height: 67px;
    width: 80px;
    object-fit: contain;
}

/* Login form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh; /* vh stands for viewport height */
}

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #57db78;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}
/* End Login form */



 /* Register form */
.body-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #57db78;
  font-family: Arial, sans-serif;
}

.form-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* vh stands for viewport height */
}

.register-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  text-align: left;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
/* End Register form */
