.product-image img {
    display: block;
    height: 150px;
    width: 1000px;
    object-fit: contain;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .logo img {
    display: block;
    max-width: 100%;
    height: 100px
  }

  .partner img {
    display: block;
    max-width: 100%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
  }