<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <h1><%= id %></h1>
    <h1><%= ordering %></h1>
    <h1><%= status %></h1>
  </body>
</html>
