<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description"
		content="Create Shop, Store &amp; eCommerce Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap"
		rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="/frontend/css/style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="/frontend/css/font-icons.css">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="/frontend/css/swiper.css">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="/frontend/demos/shop/shop.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/frontend/css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	

	<!-- Document Title
	============================================= -->
	<title>UNIT | Canvas</title>

</head>