<section class="page-title page-title-mini">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1>About Us</h1>
                <span>Everything you need to know about our Company</span>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>

        </div>
    </div>
</section>
<div class="content-wrap">
    <div class="container">

        <div class="row col-mb-80 mb-0">

            <div class="col-12">

                <div class="heading-block text-center border-bottom-0">
                    <h2>Interactive Office Environment</h2>
                    <span>We value Work Ethics &amp; Environment as it helps in creating a Creative Thinktank</span>
                </div>

                <div class="fslider" data-pagi="false" data-animation="fade">
                    <div class="flexslider" style="height: 454.2px;">
                        <div class="slider-wrap">
                            <div class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="#"><img src="images/about/4.jpg" alt="About Image" draggable="false"></a></div>
                            <div class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="#"><img src="images/about/5.jpg" alt="About Image" draggable="false"></a></div>
                            <div class="slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><a href="#"><img src="images/about/6.jpg" alt="About Image" draggable="false"></a></div>
                            <div class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="#"><img src="images/about/7.jpg" alt="About Image" draggable="false"></a></div>
                        </div>
                    <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"><i class="uil uil-angle-left-b"></i></a></li><li class="flex-nav-next"><a class="flex-next" href="#"><i class="uil uil-angle-right-b"></i></a></li></ul></div>
                </div>

            </div>

            <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn">
                <i class="i-plain i-xlarge mx-auto mb-0 bi-person"></i>
                <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="8465" data-refresh-interval="50" data-speed="2000">8465</span></div>
                <h5>Clients Served</h5>
            </div>

            <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn" data-delay="200">
                <i class="i-plain i-xlarge mx-auto mb-0 bi-code"></i>
                <div class="counter counter-large" style="color: #e74c3c;"><span data-from="100" data-to="56841" data-refresh-interval="50" data-speed="2500">56841</span></div>
                <h5>Lines of Code</h5>
            </div>

            <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn" data-delay="400">
                <i class="i-plain i-xlarge mx-auto mb-0 bi-briefcase"></i>
                <div class="counter counter-large" style="color: #16a085;"><span data-from="100" data-to="2154" data-refresh-interval="50" data-speed="3500">2154</span></div>
                <h5>No. of Projects</h5>
            </div>

            <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn" data-delay="600">
                <i class="i-plain i-xlarge mx-auto mb-0 bi-cup"></i>
                <div class="counter counter-large" style="color: #9b59b6;"><span data-from="100" data-to="874" data-refresh-interval="30" data-speed="2700">874</span></div>
                <h5>Cups of Coffee</h5>
            </div>

        </div>

        <div class="promo promo-light p-4 p-md-5 mb-5">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <h3>Try Premium Free for <span>30 Days</span> and you'll never regret it!</h3>
                    <span>Starts at just <em>$9.99/month</em> afterwards. No Ads, No Gimmicks and No SPAM. Just Real Content.</span>
                </div>
                <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                    <a href="#" class="button button-large button-circle button-black m-0">Start Trial</a>
                </div>
            </div>
        </div>

        <div class="heading-block text-center">
            <h2>Canvas Thinktank</h2>
            <span>Our Team Members who have contributed immensely to our Growth</span>
        </div>

        <div class="row col-mb-50 mb-0">

            <div class="col-lg-6">
                <div class="team team-list row align-items-center">
                    <div class="team-image col-sm-6">
                        <img src="images/team/3.jpg" alt="John Doe">
                    </div>
                    <div class="team-desc col-sm-6">
                        <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                        <div class="team-content">
                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                        </div>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-x-twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-google">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="team team-list row align-items-center">
                    <div class="team-image col-sm-6">
                        <img src="images/team/2.jpg" alt="Josh Clark">
                    </div>
                    <div class="team-desc col-sm-6">
                        <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
                        <div class="team-content">
                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                        </div>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-x-twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-google">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="team team-list row align-items-center">
                    <div class="team-image col-sm-6">
                        <img src="images/team/8.jpg" alt="Mary Jane">
                    </div>
                    <div class="team-desc col-sm-6">
                        <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
                        <div class="team-content">
                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                        </div>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-x-twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-google">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="team team-list row align-items-center">
                    <div class="team-image col-sm-6">
                        <img src="images/team/4.jpg" alt="Nix Maxwell">
                    </div>
                    <div class="team-desc col-sm-6">
                        <div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
                        <div class="team-content">
                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                        </div>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-x-twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="social-icon bg-light rounded-circle border-transparent si-small h-bg-google">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="section mt-4 footer-stick">

        <h4 class="text-uppercase text-center">What <span>Clients</span> Say?</h4>

        <div class="fslider testimonial testimonial-full text-center" data-animation="fade" data-arrows="false">
            <div class="flexslider" style="height: 248.375px;">
                <div class="slider-wrap">
                    <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <div class="row flex-column gy-3 align-items-center">
                            <div class="col-auto pt-1">
                                <img class="rounded-circle" src="images/testimonials/3.jpg" width="72" height="72" alt="Customer Testimonails" draggable="false">
                            </div>
                            <div class="col-lg-6 mb-3">
                                <p class="mb-3 fs-5 font-secondary">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                <h4 class="h6 mb-0 fw-medium">Steve Jobs</h4>
                                <small class="text-muted">Apple Inc.</small>
                            </div>
                        </div>
                    </div>
                    <div class="slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                        <div class="row flex-column gy-3 align-items-center">
                            <div class="col-auto pt-1">
                                <img class="rounded-circle" src="images/testimonials/2.jpg" width="72" height="72" alt="Customer Testimonails" draggable="false">
                            </div>
                            <div class="col-lg-6 mb-3">
                                <p class="mb-3 fs-5 font-secondary">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                <h4 class="h6 mb-0 fw-medium">Collis Ta'eed</h4>
                                <small class="text-muted">Envato Inc.</small>
                            </div>
                        </div>
                    </div>
                    <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <div class="row flex-column gy-3 align-items-center">
                            <div class="col-auto pt-1">
                                <img class="rounded-circle" src="images/testimonials/1.jpg" width="72" height="72" alt="Customer Testimonails" draggable="false">
                            </div>
                            <div class="col-lg-6 mb-3">
                                <p class="mb-3 fs-5 font-secondary">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                <h4 class="h6 mb-0 fw-medium">John Doe</h4>
                                <small class="text-muted">XYZ Inc.</small>
                            </div>
                        </div>
                    </div>
                </div>
            <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="flex-active">2</a></li><li><a href="#">3</a></li></ol></div>
        </div>

    </div>
</div>